<%= form_for @user, url:  {action: :create} do |f| %>
  <div class="form-group">
    <%= f.label :uid, 'ユーザーID'%>
    <%= f.text_field :uid, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード'%>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>
